* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.navbar-container
{
  position: sticky;
  top:0px;
  width: 100vw;
}
.layout {
  display: grid;
  grid-template-rows: 89vh;
  /* grid-template-rows: minmax(90vh,auto); */
  grid-template-columns: 1fr 3fr 1fr;
}

nav {
  background-color: yellow;
  display: flex;
  width:100vw;
  align-items: center;
  grid-column: 1/4;
  
}

a {
  text-decoration: none;
  color: black;
  display: flex;
  /*Ensures the `<a>` spans its children fully*/
  align-items: center;
  justify-content: center;
  /* Centers content vertically */
  padding: 10px 16px;
  height: 6vh;
}

li :hover {
  background-color: #F8BBD0;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  display: flex;
  gap: 2px;
}

ul li {
  list-style: none;
}

.left {
  background-color: #ccc;
  grid-column: 1/2;
  grid-row: 1/2;

}

.middle {
  padding: 10px;
  font-size: 16px;
  grid-column: 2/3;
  grid-row: 1/2;
  overflow-y: scroll; /* Allow scrolling */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer/Edge */
}

.right {
  background-color: #ccc;
  grid-column: 3/4;
  grid-row: 1/2;
  /* display: flex; */
  justify-content: center;
  /* align-items: center; */
}
.footer
{
  background-color: red;
  display:flex;
  height: 5vh;
  justify-content: center;
  align-items: center;
  grid-column: 1/4;
}
.form-container{
  display: flex;
  height: 40%;
  justify-content: center;
  align-items: center;
}
input {
  display: block; /* Ensures inputs stack vertically*/
  margin-bottom: 10px; /* Adds space between inputs */
}
.button
{
  display: flex;
  justify-content: center;
  align-items: center;

}
.loading
{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.image-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* grid-template-rows: minmax(repeat(1 ,1000px),auto); */ /*optional*/
  gap: 20px;
  justify-items: center;
}
h3{
  padding-top: 5px;
}
.video-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* grid-template-rows: minmax(repeat(1 ,1000px),auto); */ /*optional*/
  gap: 20px;
  justify-items: center;
}
.loginpt{
  width: 90%;
  margin-left: auto;
}

.closed{
display: none;
float: right;
}
@media (max-width: 400px) {
  .navbar-container {
    width: 100vw;
  }
  a{
    padding: 2px;
  }
 
}
