input[type=text],
[type=password],
select,
textarea {
    width: 88%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.feedback-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.emoji-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: center; */
    gap: 20px;
    margin: 20px;
}

fieldset {
    width: fit-content;
}

.emoji-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.logo-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2vw;
    row-gap: 6vw;
    margin: 3vh 0;
    ;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

    .col-25,
    .col-75 {
        width: 100%;
        margin-top: 0;
    }

    .logo-container img {
        height: 100%;
    }

    .logo-container {
        margin: auto;
        min-height: fit-content;

    }

}